<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"  th:href="@{Css/Narbar.css}">
</head>
<body>
     <nav>
            <div class="nav-container">
                <a href="/" class="logo" aria-label="Trang chủ Đặt Phòng KS">Đặt Phòng KS</a>
                <div class="hamburger" aria-label="Menu" role="button">
                    <i class="fas fa-bars"></i>
                </div>
                <ul class="nav-links">
                    <li><a href="/" class="active">Trang chủ</a></li>
                    <li><a href="/ListRoom">Khách sạn Đà Nẵng</a></li>
                    <li><a href="/bookings">Đặt phòng của tôi</a></li>
                    <li><a href="/feedbackuser">Đánh giá</a></li>
                    <li><a href="/About">Giới thiệu</a></li>
                    <li><a href="/Contact">Liên hệ</a></li>
                </ul>
                <div class="nav-options">
                    <select aria-label="Ngôn ngữ">
                        <option>Tiếng Việt</option>
                        <option>English</option>
                    </select>
                </div>
                <div class="auth-buttons">
                    <button class="auth-btn" aria-label="Đăng nhập"><a style="text-decoration: none; color: #003580;" href="/login">Đăng Nhập</a></button>
                </div>
            </div>
        </nav>
</body>
</html>